@import "styles/config";

.no-scroll{
  overflow: hidden !important;
}

.navigation-main {
  flex: 1;
  display: flex;



  &-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  &-section {
    display: flex;
    flex: 1;
    position: relative;

    .mobile-menu-button{
      @include media('>tablet'){
        display: none;
      }
      padding-top:$gutter;
      text-transform: uppercase;
      letter-spacing:2px;
    }

    nav {

      display: flex;
      flex: 1;
      align-items: flex-end;
      @include media('<=tablet'){
        display: none;

        &.mobile-menu-active{
          display: flex;
          //align-items: flex-start;
          justify-content: flex-start !important;
          position: fixed;
          padding:$gutter;
          padding-top:0;
          top:80px;
          left:0;
          width:100%;
          height:calc(100vh - 80px);
          flex-direction: column;
          background: white;
          z-index:99;
          .buttons{
            margin-top:$unit;
            &-wrapper{
              flex-direction: column;
            }
          }
        }
      }

      a {
        &:not(.button) {
          display: flex;
          align-items: center;
          padding: $unit;
          padding-top: $gutter;
          color: currentColor;
          text-decoration: none;
          font-family: $font-headings;
          text-transform: uppercase;
          letter-spacing: 4px;
          font-size: 0.85rem;
          opacity: 0.5;
          font-weight: 300;
          &:hover {
            opacity: 1;
          }
          &:active {
            //@mixin active-state-transform;
          }
        }
      }
    }
    &:first-of-type {
      justify-content: flex-start;
    }
    &:last-of-type {
      justify-content: flex-end;

      nav {
        justify-content: flex-end;
      }
    }

  }
}