@import "styles/config";
$browser-border:  $border;
.browser {
  @include center-content;
  border: $browser-border;
  border-radius: 6px;
  background: white;
  overflow: hidden;
  &-wrapper {

  }

  box-shadow: $drop-shadow-l-light;

  &-header {
    //border-top-right-radius: 8px;
    //border-top-left-radius: 8px;
    background: whitesmoke;
    border-bottom:$browser-border;
    &-wrapper {
      padding: 8px $unit;
      display: flex;
    }

    &-buttons {
      display: flex;
    }

    &-button {
      $size: 11px;
      width: $size;
      height: $size;
      border: 1px solid whitesmoke;
      border-radius: 50%;
      background: whitesmoke;

      &:hover {
        //background: $color-dodger;
        //border-color: $color-dodger;
      }

      &:nth-of-type(1) {
        border: 1px solid darken(#FE645E, 7%);
        background: #FE645E;
      }
      &:nth-of-type(2) {
        border: 1px solid darken(#FEBE40, 7%);
        background: #FEBE40;
      }
      &:nth-of-type(3) {
        border: 1px solid darken(#2FC847, 7%);
        background: #2FC847;

      }
      & + & {
        margin-left: $unit/2;
      }
    }
  }
}