@import "styles/config";

.logo{
  margin-right:$unit;
  text-decoration: none;
  &-wrapper{
    display: flex;
    align-items: center;
  }
  &-name{
    font-family: $font-headings;
    font-size: 2rem;
    color: $color-grey-base;
    padding-top:$unit;
    font-weight:100;

    @at-root .logo.light &{
      color: $color-white;
    }
    @at-root .logo.dark &{
      color: $color-grey-base;
    }
  }
}