@import "styles/config";

.showcase {
  &-grid {
    margin-top: $gutter*4;
  }
  &-item {
    padding: $gutter;
    border-radius: 8px;
    border: $border;
    box-shadow: $drop-shadow-shallow;
    margin: $gutter;
    @include trans;

    &:hover{
      cursor: pointer;
      transform: translateY(-8px);
      box-shadow: $drop-shadow-l-light;
    }
    &-avatar {
      width: 100%;
      padding-bottom: 60%;
      margin-bottom: $gutter;
      border: $border;
      background: whitesmoke;
    }
    &-details {

      &-name {
        font-family: $font-headings;
        font-size: 1.5rem;
        padding-bottom: $unit;
        font-weight: 100;
        text-align: left;
        width: 100%;
      }
      &-desc {
        text-align: left;
        width: 100%;
        font-weight:300;
        opacity: 0.5;
      }
    }
  }
}